﻿html, body {
    /*height: 100%;*/   
    /*height: 83%;
    margin-top: 17%;
    margin-bottom: 17%;*/

}

body {
    /*min-height: 100%;*/
    background-image: url(/App/Images/screen3c.png);
    background-size: 100%;
    background-attachment: fixed;
    /*overflow-y: scroll;*/
    /*padding-bottom: 120px;*/
}

.container {
    margin: 0;
    padding: 0;
    width:100%;  
    /*padding-bottom: 54px;*/

    /*height:100%;*/  

}

.upper-navbar {
    margin-top: 0;
    margin-bottom: 0;
    top: 0;
    z-index: 999;
    border-radius: 0;
}

.logo {
    position: fixed;
    top: 0;
    z-index: 1001;  
}

img {
    max-width:100%;
    max-height:100%;
    display:block;
    margin:auto;
}

input:focus{
    outline:none;
}

input[type=text]:focus {
    box-shadow: 1px 1px 4px -2px #000;
}

.well {
    background: linear-gradient(to bottom, #e3f6c2 2%,#e9f8d0 50%,#eaf7d3 100%);
    box-shadow: 0 1px 2px -2px #000;
}

.lower-nav{
    background: rgb(0, 0, 0);
    background-color: rgba(0,0,0, 0.2);
    padding-right: 0;
}

.lower-nav > li {   
    box-shadow: 1px 0 2px -2px #000;
}

a:link, a:visited {
    color: white;
}

a:focus {
    background-color: transparent;
}

 .center-one-quarters-col {
     margin-left: 37.5%;
 }

.active {
    background: rgb(255,255,255);
    background-color: rgba(255,255,255, 0.2);
}

.product-list {
    /*background: rgb(255,255,255);*/
    /*background-color: rgba(255,255,255, 0.5);*/
    padding: 0;
    overflow-y: scroll;
    overflow-scrolling: touch;
}

.product-list >li {
    box-shadow: 0 2px 1px -2px;
}

.theme-background-color {
    background: rgb(255,255,255);
    background-color: rgba(255,255,255, 0.5);
}

.upper-navbar-menu {
    position: fixed;
    height: auto;
    z-index: 1000;
}

.fixed-top {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.content-below-upper-navbar {
    top: 41px;
    z-index:1002
}

.content-below-navbar-menu {
    top: 75px;
}

.no-padding-bottom {
    padding-bottom: 0;
    margin-bottom: 0;
}

.no-padding-right {
    padding-right: 0;
    margin-right: 0;
}

/*Iphone 4*/
@media only screen and (height: 480px) {
    .product-list {
        height: 341px;
    }
}

/*Galaxy Note 3*/
@media only screen and (height: 960px) {
    .product-list {
        height: 783px;
    }
}