﻿<div class="col-xs-12 upper-navbar-menu content-below-upper-navbar theme-background-color">
    <div class="input-group col-xs-10 col-xs-offset-1 fixed-below-upper-navbar">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        <input dir="rtl" ng-focus="openList()" type="text" placeholder="חפש מוצר"
               class="form-control theme-background-color" ng-model="filter" />
    </div>
</div>

<div class="col-xs-12 theme-background-color content-below-navbar-menu">
    <ul dir="rtl" class="product-list list-unstyled ">
        <li ng-repeat="product in products | filter: filter | orderBy: 'ProductPrice'" class="text-muted col-xs-12">
            <div class="container">
                <div class="pull-right col-xs-3 no-padding-right">
                    <img class="img-responsive img-thumbnail" ng-src="{{product.ProductImage}}" />
                </div>
                <div class="lead no-padding-bottom text-success">{{product.ProductName}}</div>
                <div>{{product.ProductPrice | currency}} | {{product.ProductPrice | currency}}</div>
                <div class="pull-left text-danger">{{product.ProductName}}</div>
            </div>
        </li>
    </ul>
</div>