﻿<div>
    <ul class="product-list list-unstyled">
        <li class="text-muted">Product 1</li>
        <li class="text-muted">Product 2</li>
        <li class="text-muted">Product 3</li>
        <li class="text-muted">Product 4</li>
        <li class="text-muted">Product 5</li>
        <li class="text-muted">Product 6</li>
    </ul>
</div>