﻿<div class="col-xs-12 upper-navbar-menu content-below-upper-navbar theme-background-color">
    <div class="input-group col-xs-10 col-xs-offset-1 fixed-below-upper-navbar">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        <input dir="rtl" ng-focus="openList()" type="text" placeholder="חפש מוצר"
               class="form-control theme-background-color" ng-model="filter" />
    </div>
</div>

<div class="col-xs-12 theme-background-color content-below-navbar-menu" ui-view/>

