﻿<div>
    <ul dir="rtl" class="product-list list-unstyled ">
        <li ng-mousedown="setActiveItem(product.ProductName)" ng-mouseup="setActiveItem('')"
            ng-click="addToCart(product)"
            ng-class="{active: getActiveItem(product.ProductName)}"
            ng-repeat="product in products | filter: filter | orderBy: 'ProductPrice'" class="text-muted col-xs-12">
            <div class="container">
                <div class="pull-right col-xs-3 no-padding-right">
                    <img class="img-responsive img-thumbnail" ng-src="{{product.ProductImage}}" />
                </div>
                <div class="lead no-padding-bottom text-success">{{product.ProductName}}</div>
                <div>{{product.ProductPrice | currency}} | {{product.ProductPrice | currency}}</div>
                <div class="pull-left text-danger">{{product.ProductName}}</div>
            </div>
        </li>
    </ul>
</div>
