﻿<div class="fixed-top">
    <div class="col-xs-12 upper-navbar well">
    </div>
</div>

<div class="logo top col-xs-3 center-one-quarters-col ">
    <img ng-src="App/Images/logo.png" class="img-responsive" />
</div>

<div ui-view></div>

<nav class="navbar-fixed-bottom">
    <ul class="nav nav-pills nav-justified lower-nav">
        <li ng-class="{active: isActive('/home/search')}">
            <a ui-sref=".search">
                <div>
                    <img ng-src="App/Images/search.png" class="img-responsive" />
                </div>
            </a>
        </li>
        <li ng-class="{active: isActive('/home/cart')}">
            <a ui-sref=".cart">
                <div>
                    <img ng-src="App/Images/cart.png" class="img-responsive" />
                </div>

            </a>

        </li>
        <li ng-class="{active: isActive('/home/sales')}">
            <a ui-sref=".sales">
                <div>
                    <img ng-src="App/Images/sales.png" class="img-responsive" />
                </div>

            </a>

        </li>
       
        <li ng-class="{active: isActive('/home/map')}">
            <a ui-sref=".map">
                <div>
                    <img ng-src="App/Images/map.png" class="img-responsive" />
                </div>
            </a>

        </li>
        <li ng-class="{active: isActive('/home/shareCart')}">
            <a ui-sref=".shareCart">
                <div>
                    <img ng-src="App/Images/share.png" class="img-responsive" />
                </div>
            </a>

        </li>
    </ul>
</nav>

